<div class="container">
  <header class="header">
    <h1>Gestión de Tareas</h1>
    <p>Prueba Técnica - Full Stack</p>
  </header>

  <div class="dashboard-container">
  <div class="table-header">
    <h2>Listado de Tareas</h2>
    <button (click)="prepareNewTask()" class="btn-add">+ Nueva Tarea</button>
  </div>

  <!-- Aqui recibe los datos-->
  <app-task-form 
    *ngIf="showForm" 
    [task]="selectedTask" 
    [isEditMode]="editing"
    (onSaved)="handleSave()"
    (onCancel)="showForm = false">
  </app-task-form>


<!-- COMENTataswwsIO-->
  
<div class="dashboard-container">
  

  <div class="table-responsive">
    <table class="custom-table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.title }}</td>
          <td>
            <span [class]="task.isCompleted ? 'badge success' : 'badge warning'">
              {{ task.isCompleted ? 'Lista' : 'Pendiente' }}
            </span>
          </td>
          <td>
           <button (click)="prepareEditTask(task)">✏️ Editar</button>
            <button class="btn-icon delete" (click)="deleteTask(task.id)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>


</div>